
.lkh-sectionsCatsList{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}
@media (max-width: 575px){
    .lkh-sectionsCatsList{
        display: block;
    }
}
    .lkh-sectionsCatsList>div{
        flex: 1 1 33.33%;
    }
        .lkh-sectionsCatsListItemBox{
            padding: 0 15px 30px;
            text-align: center;
        }
            .lkh-sectionsCatsListItem{
                display: inline-block;
                position: relative;
                width: 100%;
                max-width: 415px;
                height: 461px;
                overflow: hidden;
            }
            @media (max-width: 991px){
                .lkh-sectionsCatsListItem{
                    height: 250px;
                }
            }
            @media (max-width: 767px){
                .lkh-sectionsCatsListItem{
                    height: 178px;
                }
            }
            @media (max-width: 575px){
                .lkh-sectionsCatsListItem{
                    height: 461px;
                }
            }
                .lkh-sectionsCatsListItemImg{
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    top: 0;
                    background-size: cover;
                    background-position: 50% 50%;
                }
                .lkh-allowAnimate .lkh-sectionsCatsListItemImg{
                    transition-property: transform;
                    transition-duration: 0.35s;
                }
/*                    .lkh-sectionsCatsListItem:hover .lkh-sectionsCatsListItemImg{
                    transform: scale(1.07);
                }*/
                .lkh-sectionsCatsListItem:after{
                    content: '';
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    height: 26%;
                    background: rgb(0,0,0);
                    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
                }
                .lkh-allowAnimate .lkh-sectionsCatsListItem:after{
                    transition-property: height;
                    transition-duration: 0.35s;
                }
                .lkh-sectionsCatsListItem:hover:after{
                    height: 100%;
                    /*background-color: rgba(0,0,0,0.2);*/
                }
                .lkh-sectionsCatsListItemTitle{
                    font-size: 44.41px;
                    line-height: 44.41px;
                    text-transform: uppercase;
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 24px;
                    color: #fff;
                    z-index: 1;
                }
                @media (max-width: 991px){
                    .lkh-sectionsCatsListItemTitle{
                        font-size: 26px;
                        line-height: 26px;
                    }
                }
                @media (max-width: 767px){
                    .lkh-sectionsCatsListItemTitle{
                        font-size: 20px;
                        line-height: 20px;
                    }
                }
                @media (max-width: 575px){
                    .lkh-sectionsCatsListItemTitle{
                        font-size: 44.41px;
                        line-height: 44.41px;
                    }
                }
                .lkh-allowAnimate .lkh-sectionsCatsListItemTitle{
                    transition-property: bottom, margin-bottom;
                    transition-duration: 0.35s;
                }
                .lkh-sectionsCatsListItem:hover .lkh-sectionsCatsListItemTitle{
                    bottom: 50%;
                    margin-bottom: -22px;
                }
