.home.blog .site-header,
.home.page:not(.page-template-template-homepage) .site-header,
.home.post-type-archive-product .site-header{
    margin-bottom: 0;
    border-bottom: 0;
}


.swiper-pagination-bullet{
    margin: 0 3px;
}
.swiper-pagination-bullet:focus{
    outline: none;
}
.swiper-pagination-bullet-active{
    background: #ba974c;
}










.lkh-homeTopBannerBg{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    background: transparent url('../img/mainTopBannerBgH699.jpg') 50% 50% no-repeat;
    background-size: cover;
    /*will-change: transform;*/
}
@media (max-width: 991px){
    .lkh-homeTopBannerBg{
        bottom: auto;
        height: 480px;
    }
}
@media (max-width: 767px){
    .lkh-homeTopBannerBg{
        height: 418px;
    }
}
@media (max-width: 575px){
    .lkh-homeTopBannerBg{
        height: 417px;
    }
}
.lkh-homeTopBanner{
    height: 540px;
}
@media (max-width: 991px){
    .lkh-homeTopBanner {
        height: 350px;
    }
}
@media (max-width: 767px){
    .lkh-homeTopBanner {
        height: 260px;
    }
}
@media (max-width: 575px){
    .lkh-homeTopBanner {
        height: 260px;
    }
}
    .lkh-homeTopBannerText{
        margin-left: 53px;
        margin-top: 75px;
    }
    @media (max-width: 1199px){
        .lkh-homeTopBannerText {
            margin-top: 95px;
        }
    }
    @media (max-width: 991px){
        .lkh-homeTopBannerText {
            margin-left: 0px;
            margin-top: 50px;
        }
    }
    @media (max-width: 767px){
        .lkh-homeTopBannerText {
            margin-top: 38px;
        }
    }
        .lkh-homeTopBannerT1{
            display: inline-block;
            color: #fff;
            font-family: 'Raleway', sans-serif;
            font-size: 81.36px;
            line-height: 81.36px;
            text-transform: uppercase;
            max-width: 633px;
            letter-spacing: 11.6px;
            text-shadow: 0px 0px 8px rgba(0,0,0,0.1);
        }
        @media (max-width: 1199px){
            .lkh-homeTopBannerT1{
                font-size: 55px;
                line-height: 55px;
                max-width: 465px;
                letter-spacing: 10px;
            }
        }
        @media (max-width: 991px){
            .lkh-homeTopBannerT1{
                font-size: 40px;
                line-height: 45px;
                max-width: 358px;
                letter-spacing: 8px;
            }
        }
        @media (max-width: 767px){
            .lkh-homeTopBannerT1{
                font-size: 30px;
                line-height: 32px;
                max-width: 272px;
                letter-spacing: 6px;
            }
        }
        .lkh-homeTopBannerT2{
            display: inline-block;
            color: #fff;
            font-size: 35.9px;
            line-height: 44px;
            font-family: 'Montserrat', sans-serif;
            max-width: 388px;
            margin-top: 30px;
            letter-spacing: 2px;
            text-shadow: 0px 0px 8px rgba(0,0,0,0.1);
            text-shadow: -2px 3px 8px rgba(0, 0, 0, 0.2);
        }
        @media (max-width: 991px){
            .lkh-homeTopBannerT2{
                font-size: 20px;
                line-height: 28px;
                max-width: 350px;
                letter-spacing: 1px;
                margin-top: 17px;
            }
        }
        @media (max-width: 767px){
            .lkh-homeTopBannerT2{
                font-size: 17px;
                line-height: 22px;
                max-width: 251px;
            }
        }
        .lkh-homeTopBannerBtn{
            cursor: pointer;
            position: relative;
            overflow: hidden;
            display: inline-block;
            color: #fff;
            border-radius: 888px;
            font-size: 21.97px;
            line-height: 21.97px;
            padding: 14px 44px;
            margin-top: 48px;
            text-transform: uppercase;
            background: rgb(179,140,78);
            background: linear-gradient(90deg, rgba(179,140,78,1) 26%, rgba(226,197,139,1) 100%);
            /*box-shadow: 0 0 3.5px rgba(0,0,0,0.2);*/
            box-shadow: -2px 3px 8px 0px rgba(0, 0, 0, 0.2);
        }
        @media (max-width: 991px){
            .lkh-homeTopBannerBtn{
                margin-top: 28px;
            }
        }
            @keyframes lkh-mainTopBannerBtnAnimateFns {
                0%{

                }
                100%{
                    left: 100%;
                }
            }
            .lkh-allowAnimate .lkh-homeTopBannerBtn:before{
                content: '';
                position: absolute;
                left: -107px;
                top: -35px;
                bottom: -35px;
                width: 107px;
                transform: rotate(17deg);
                background: transparent;
                background: linear-gradient(90deg, rgba(0,0,0,0) 26%, rgba(255,255,255,0.44) 50%, rgba(0,0,0,0) 74%);
            }
            .lkh-allowAnimate .lkh-homeTopBannerBtnAnimate:before{
                animation: lkh-mainTopBannerBtnAnimateFns 0.35s 1 ease-out;
                animation-fill-mode: forwards;
            }









.lkh-homeSlideLinks{
    padding: 30px 0 15px;
}
@media (max-width: 767px){
    .lkh-homeSlideLinks{
        display: none;
    }
}
    .lkh-homeSlideLinksList{
        display: flex;
        justify-content: space-between;
        margin: 0 -16px;
        background: #700048 url('../img/homePage/homeSlideLinksBg.jpg') 0 -30px no-repeat;
    }
    @media (max-width: 575px){
        .lkh-homeSlideLinksList{
            display: block;
            background: none;
            margin: 0;
            text-align: center;
        }
    }
        .lkh-homeSlideLinksList>div{
            flex: 1 1 20%;
        }
        @media (max-width: 575px){
            .lkh-homeSlideLinksList>div{
                display: inline-block;
            }
        }
            .lkh-homeSlideLinksListItem{
                text-align: center;
                position: relative;
            }
                .lkh-homeSlideLinksListItem:before,
                .lkh-homeSlideLinksListItem:after{
                    content: '';
                    position: absolute;
                    left: -1px;
                    top: -1px;
                    bottom: -1px;
                    width: 16px;
                    background-color: #fff;
                }
                .lkh-homeSlideLinksListItem:after{
                    right: -1px;
                    left: auto;
                }
                @media (max-width: 575px){
                    .lkh-homeSlideLinksListItem:before,
                    .lkh-homeSlideLinksListItem:after{
                        display: none;
                    }
                    .lkh-homeSlideLinksListItem:before{
                        display: block;
                        content: '';
                        position: absolute;
                        left: -2px;
                        top: 50%;
                        bottom: auto;
                        width: 4px;
                        height: 4px;
                        margin-top: -1px;
                        background-color: #ba974c;
                        border-radius: 100%;
                    }
                    .lkh-homeSlideLinksList>div:first-child .lkh-homeSlideLinksListItem:before{
                        display: none;
                    }
                }
                .lkh-homeSlideLinksListItem a{
                    display: block;
                    padding: 30px 15px;
                    color: #fff;
                    font-size: 30px;
                    line-height: 30px;
                }
                .lkh-homeSlideLinksListItem a:hover{
                    opacity: 0.5;
                }
                @media (max-width: 1199px){
                    .lkh-homeSlideLinksListItem a{
                        padding: 15px;
                    }
                }
                @media (max-width: 991px){
                    .lkh-homeSlideLinksListItem a{
                        padding: 17px 15px;
                        font-size: 23px;
                        line-height: 23px;
                    }
                }
                @media (max-width: 767px){
                    .lkh-homeSlideLinksListItem a{
                        padding: 14px 5px;
                        font-size: 16px;
                        line-height: 16px;
                    }
                }
                @media (max-width: 575px){
                    .lkh-homeSlideLinksListItem a{
                        padding: 5px 13px;
                        color: #171717;
                    }
                }



.lkh-homeSlideCats{

}
    .lkh-homeSlideCatsH{
        display: none;
    }
    @media (max-width: 767px){
        .lkh-homeSlideCatsH{
            display: block;
            margin: 28px 0 12px;
        }
    }
    .lkh-homeSlideCatsPagination{
        display: none;
    }
    @media (max-width: 767px){
        .lkh-homeSlideCatsPagination{
            display: block;
            position: relative;
        }
    }
    .lkh-homeSlideCatsList{
        display: flex;
        flex-wrap: wrap;
        margin: 0 -15px;
    }
    @media (max-width: 575px){
        .lkh-homeSlideCatsList{
            display: block;
        }
    }
        .lkh-homeSlideCatsList>div{
            flex: 1 1 33.33%;
        }
            .lkh-homeSlideCatsListItemBox{
                padding: 15px;
                text-align: center;
            }
                .lkh-homeSlideCatsListItem{
                    display: inline-block;
                    position: relative;
                    width: 100%;
                    max-width: 415px;
                    height: 461px;
                    overflow: hidden;
                }
                @media (max-width: 991px){
                    .lkh-homeSlideCatsListItem{
                        height: 251px;
                    }
                }
                @media (max-width: 767px){
                    .lkh-homeSlideCatsListItem{
                        height: 461px;
                    }
                }
                @media (max-width: 330px){
                    .lkh-homeSlideCatsListItem{
                        height: 305px;
                    }
                }
                    .lkh-homeSlideCatsListItemImg{
                        position: absolute;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        top: 0;
                        background-size: cover;
                        background-position: 50% 50%;
                    }
                    .lkh-allowAnimate .lkh-homeSlideCatsListItemImg{
                        transition-property: transform;
                        transition-duration: 0.35s;
                    }
/*                    .lkh-homeSlideCatsListItem:hover .lkh-homeSlideCatsListItemImg{
                        transform: scale(1.07);
                    }*/
                    .lkh-homeSlideCatsListItem:after{
                        content: '';
                        position: absolute;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        height: 26%;
                        background: rgb(0,0,0);
                        background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
                    }
                    .lkh-allowAnimate .lkh-homeSlideCatsListItem:after{
                        transition-property: height;
                        transition-duration: 0.35s;
                    }
                    .lkh-homeSlideCatsListItem:hover:after{
                        height: 100%;
                        /*background-color: rgba(0,0,0,0.2);*/
                    }
                    .lkh-homeSlideCatsListItemTitle{
                        font-size: 44.41px;
                        line-height: 44.41px;
                        text-transform: uppercase;
                        position: absolute;
                        left: 0;
                        right: 0;
                        bottom: 24px;
                        color: #fff;
                        z-index: 1;
                    }
                    @media (max-width: 991px){
                        .lkh-homeSlideCatsListItemTitle{
                            font-size: 26px;
                            line-height: 26px;
                        }
                    }
                    .lkh-allowAnimate .lkh-homeSlideCatsListItemTitle{
                        transition-property: bottom, margin-bottom;
                        transition-duration: 0.35s;
                    }
                    .lkh-homeSlideCatsListItem:hover .lkh-homeSlideCatsListItemTitle{
                        bottom: 50%;
                        margin-bottom: -22px;
                    }


.lkh-homeSlideNewArrivals{
    padding-top: 44px;
    padding-bottom: 74px;
}
    .lkh-homeSlideNewArrivalsH{
        margin-bottom: 44px;
    }
    .lkh-homeSlideNewArrivals .site-main{
        margin-bottom: 0;
    }
        @media (max-width: 767px){
            .lkh-homeSlideNewArrivals ul.products li.product{
                margin-bottom: 0;
                padding: 0 15px;
            }
        }
    .lkh-homeSlideNewArrivalsPagination{
        display: none;
    }
    @media (max-width: 767px){
        .lkh-homeSlideNewArrivalsPagination{
            display: block;
            position: relative;
            margin-bottom: 22px;
        }
    }


.lkh-homeSlideAdvantages{
    color: #fff;

    background: #700047 url('../img/2MandalBg.jpg') 50% 50% no-repeat;
    background-size: cover;
}
@media (max-width: 767px){
    .lkh-homeSlideAdvantages{
        color: #171717;
        background: none;
    }
}
    .lkh-homeSlideAdvantagesH{
        padding-top: 83px;
    }
    @media (max-width: 767px){
        .lkh-homeSlideAdvantagesH{
            padding-top: 0;
        }
    }
    .lkh-homeSlideAdvantagesListBox{
        padding-bottom: 63px;
    }
    @media (max-width: 767px){
        .lkh-homeSlideAdvantagesListBox{
            padding-bottom: 0;
        }
    }
        .cwm-homeSlideAdvantagesListPagination{
            display: none;
        }
        @media (max-width: 767px){
            .cwm-homeSlideAdvantagesListPagination{
                display: block;
                position: relative;
            }
        }
        .lkh-homeSlideAdvantagesList{
            display: flex;
            justify-content: space-between;
        }
            .lkh-homeSlideAdvantagesListItem{
                flex: 1 1 20%;
            }
                .lkh-homeSlideAdvantagesListItemWrap{
                    text-align: center;
                    margin-bottom: 30px;
                    font-size: 18px;
                    line-height: 18px;
                    text-transform: uppercase;
                    padding-top: 107px;
                    position: relative;
                }
                @media (max-width: 991px){
                    .lkh-homeSlideAdvantagesListItemWrap{
                        font-size: 17px;
                        padding-top: 142px;
                    }
                }
                    .lkh-homeSlideAdvantagesListItemWrap i{
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        color: #ba974c;
                    }
                    .lkh-homeSlideAdvantagesListItemDiamond i{
                        font-size: 68px;
                        line-height: 68px;
                        margin: -35.3px 0 0 -34px;
                    }
                    .lkh-homeSlideAdvantagesListItemHeart i{
                        font-size: 57px;
                        line-height: 57px;
                        margin: -28.5px 0 0 -28.5px;
                    }
                    .lkh-homeSlideAdvantagesListItemSewing i{
                        font-size: 52px;
                        line-height: 52px;
                        margin: -26px 0 0 -26px;
                    }
                    .lkh-homeSlideAdvantagesListItemPassword i{
                        font-size: 58px;
                        line-height: 58px;
                        margin: -29px 0 0 -29px;
                    }
                    .lkh-homeSlideAdvantagesListItemTransport i{
                        font-size: 90px;
                        line-height: 90px;
                        margin: -45px 0 0 -56px;
                    }


.lkh-homeSlideSale{
    padding-top: 80px;
    padding-bottom: 107px;
}
    .lkh-homeSlideSaleH{
        margin-bottom: 44px;
    }
    lkh-homeSlideSale .site-main{
        margin-bottom: 0;
    }
        @media (max-width: 767px){
            .lkh-homeSlideSale ul.products li.product{
                margin-bottom: 0;
                padding: 0 15px;
            }
        }
    .lkh-homeSlideSalePagination{
        display: none;
    }
    @media (max-width: 767px){
        .lkh-homeSlideSalePagination{
            display: block;
            position: relative;
            margin-bottom: 22px;
        }
    }
    .lkh-homeSlideSaleF{
        text-align: center;
        position: relative;
        top: -5px;
    }



.lkh-homeSlideAboutUs{
    background: #700047 url('../img/homePage/homeSlideAboutUsBg.jpg') 50% 50% no-repeat;
    background-size: cover;
}
@media (max-width: 767px){
    .lkh-homeSlideAboutUs{
        background: none;
    }
}
    .lkh-homeSlideAboutUsLeftCol{
        width: 41.3%;
        color: #fff;
        text-align: center;
        padding: 107px 0 115px;
    }
    @media (max-width: 767px){
        .lkh-homeSlideAboutUsLeftCol{
            width: 100%;
            color: #171717;
            padding: 0;
        }
    }
        .lkh-homeSlideAboutUsH{

        }
        .lkh-homeSlideAboutUsContentBtn{
            display: none;
        }
        @media (max-width: 767px){
            .lkh-homeSlideAboutUsContentBtn,
            .lkh-homeSlideAboutUsContentBtn:hover{
                display: inline-block;
                margin-top: 15px;
            }
        }
        .lkh-homeSlideAboutUsContent{
            position: relative;
            margin-top: 40px;
        }
            @media (max-width: 767px){
                .lkh-homeSlideAboutUsContent:after{
                    content: '';
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    top: 0;
                    background: linear-gradient(180deg,rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 71%,rgba(255,255,255,1) 100%);
                }
            }
            .lkh-homeSlideAboutUsContentWrap{
            }
            @media (max-width: 767px){
                .lkh-homeSlideAboutUsContentWrap{
                    height: 116px;
                    overflow: hidden;
                }
            }
                .lkh-homeSlideAboutUsText{
                }
                    .lkh-homeSlideAboutUsText p{
                        font-size: 18px;
                        line-height: 18px;
                    }
                .lkh-homeSlideAboutUsSots{
                    display: block;
                    list-style: none;
                    margin: 0;
                    padding: 8px 0 0;
                }
                    .lkh-homeSlideAboutUsSots>li{
                        display: inline-block;
                        margin: 0 8px;
                    }
                        .lkh-homeSlideAboutUsSots>li i{
                            color: #fff;
                            font-size: 24px;
                            line-height: 24px;
                        }
                        @media (max-width: 767px){
                            .lkh-homeSlideAboutUsSots>li i{
                                color: #171717;
                            }
                        }


.lkh-homeSlideRecommended{
    padding-top: 115px;
    padding-bottom: 62px;
}
    .lkh-homeSlideRecommendedH{
        margin-bottom: 44px;
    }
        @media (max-width: 767px){
            .lkh-homeSlideRecommendedHEnd{
                display: none;
            }
        }
    .lkh-homeSlideRecommended .site-main{
        margin-bottom: 0;
    }
        @media (max-width: 767px){
            .lkh-homeSlideRecommended ul.products li.product{
                margin-bottom: 0;
                padding: 0 15px;
            }
        }
    .lkh-homeSlideRecommendedPagination{
        display: none;
    }
    @media (max-width: 767px){
        .lkh-homeSlideRecommendedPagination{
            display: block;
            position: relative;
            margin-bottom: 22px;
        }
    }



.lkh-homeSlideBlog{
    padding-top: 0;
    padding-bottom: 53px;
}
    .lkh-homeSlideBlogH{
        margin-bottom: 44px;
    }
    .lkh-homeSlideBlogList{
        margin: 0 -15px 10px;
        padding: 0;

        display: flex;
    }
    @media (max-width: 767px){
        .lkh-homeSlideBlogList{
            flex-wrap: wrap;
        }
    }
    @media (max-width: 575px){
        .lkh-homeSlideBlogList{
            display: block;
        }
    }
        .lkh-homeSlideBlogList>div{
            flex: 0 1 25%;
        }
        @media (max-width: 767px){
            .lkh-homeSlideBlogList>div{
                flex: 0 1 50%;
            }
        }
            .lkh-homeSlideBlogListItem{
                padding: 0 15px 30px;
            }
                .lkh-homeSlideBlogListItem a{

                }
                .lkh-homeSlideBlogListItem a:hover{
                    opacity: 0.8;
                }
                    .lkh-homeSlideBlogListItem a>span{
                        background-position: 50% 50%;
                        background-size: cover;
                        display: block;
                        margin-bottom: 15px;
                        height: 186px;
                    }
                    .lkh-homeSlideBlogListItem a>div{
                        color: #333;
                        font-size: 18px;
                        line-height: 23px;
                    }
    .lkh-homeSlideBlogPagination{
        display: none;
    }
    @media (max-width: 767px){
        .lkh-homeSlideBlogPagination{
            display: block;
            position: relative;
            margin-bottom: 22px;
        }
    }
    .lkh-homeSlideBlogF{
        text-align: center;
        position: relative;
        top: -5px;
    }

    
    
    
    
    
    
    
    
    
    
